<%- include('partials/header') %>
<h1>Liste des étudiants de la promo : Zenith</h1>
<ul class="cards">
	<% promoStudentsList.forEach(student => { %>
	<li class="card">
		<a href="/students/<%= student.id %>">
			<figure>
				<img
					src="<%= student.profile_picture_url %>"
					alt="Photo de profil de <%= student.first_name %> <%= student.last_name %>"
				/>
				<figcaption>
					<%= student.first_name %> <%= student.last_name %>
				</figcaption>
			</figure>
		</a>
	</li>
	<% }); %>
</ul>
<%- include('partials/footer') %>
