<%- include('partials/header') %>

<h1><%= promo.name %></h1>
<a href="<%= promo.github_organization %>">organisation GitHub</a>
<ul>
	<li><a href="/promos/<%= promo.id %>/students">Liste des étudiants</a></li>
	<li><a href="#">Modifier la promo</a></li>
</ul>

<%- include('partials/footer') %>
