<%- include('partials/header') %>
<div class="result">
	<div class="result-avatar">
		<img
			src="<%= result.profile_picture_url %>"
			alt="Photo de profil de <%= result.first_name %> <%= result.last_name %>"
		/>
	</div>
	<div class="result-description">
		<h1><%= result.first_name %> <%= result.last_name %></h1>
		<p>Étudiant</p>
		<p>
			Promo: <a href="/promos/<%= result.promo_id %>"><em>Zenith</em></a>
		</p>
		<p>Pseudo Github : <em><%= result.github_username %></em></p>
		<nav>
			<ul>
				<li><a href="#">Modifier la fiche de l'étudiant</a></li>
			</ul>
		</nav>
	</div>
</div>
<%- include('partials/footer') %>
